.questPage {
  padding: 0;
  margin: 0;
  background: #fff;

  .mapLoader {
    position: absolute;
    z-index: 2;

    &.panelOpened {
      top: 16px;
      left: 270px;
    }

    &.panelClosed {
      top: 17px;
      left: 50px;
    }
  }

  .backLayer {
    z-index: 2;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    &.panelOpened {
      left: 260px;
    }

    &.panelClosed {
      left: 0;
    }
  }
}
