@import '../../styles/common';

@media (max-width: #{$tablet - 1px}) {
  .profilePage {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.profilePage {
  padding: 0;
  margin: 0;
  z-index: 20;
  background: $white;
  @include absoluteFill();

  &::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbarThumbColor !important;
  }

  &__row {
    margin: 0 -4px;
    position: relative;
  }

  .tileCol {
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    z-index: 1;

    &:last-child {
      .tileContainer {
        margin-bottom: 0;
      }
    }
  }

  .tileContainer {
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin-bottom: 8px;
  }

  .tile {
    @include absoluteFill();
    @include transition(all, $fastTrans);
  }

  @media (min-width: $desktop) {
    .tileCol:nth-child(3n + 1) {
      .placeTile h2 {
        padding-left: 60px;
      }
    }
  }

  @media (min-width: $tablet) and (max-width: #{$desktop - 1px}) {
    .tileCol:nth-child(2n + 1) {
      .placeTile h2 {
        padding-left: 60px;
      }
    }
  }

  @media (max-width: #{$tablet - 1px}) {
    .tileCol {
      .placeTile h2 {
        padding-left: 30px;
      }
    }
  }
}
