// CSS variables

// Responsive
$desktop: 992px;
$tablet: 768px;

// Font weight
$heavierFw: 900;
$heavyFw: 700;
$sectionTitleFw: 600;
$normalFw: 500;
$lightFw: 400;
$lighterFw: 300;

// Opacity
$lighterOpacity: 0;
$lightOpacity: 0.3;
$normalOpacity: 0.5;
$darkOpacity: 0.7;
$darkerOpacity: 1;

// Transition
$fastTrans: 0.1s;
$normalTrans: 1s;

// Colors
$white: #fff;
$secondaryWhite: #fbfbfb;
$lightWhite: #ccc;

$black: #000;
$secondaryBlack: #222;
$thirdBlack: #333;

$brochureArrowColor: #ddd;
$brochureArrowHoverColor: #006bca;

$darkerShadowColor: rgba(0, 0, 0, $darkerOpacity);
$darkShadowColor: rgba(0, 0, 0, $darkOpacity);
$normalShadowColor: rgba(0, 0, 0, $normalOpacity);
$lightShadowColor: rgba(0, 0, 0, $lightOpacity);
$errorColor: #e80303;
$placeholderColor: #bbb;
$scrollbarThumbColor: rgba(200, 200, 200, 0.7);

$enlargeSize: 1.04;

$textShadowBlur: 7px;
$boxShadowBlur: 7px;
$farBoxShadowBlur: 15px;

$textLH: 1.2;
$noLH: 0;

$hrBorderWidth: 0.8px;
