@import '../../../styles/common';

.mainPosterTile {
  position: relative;
  overflow: hidden;

  &__img {
    width: 100%;
    transform: scale(1);
    @include transition(all, $normalTrans);
  }

  &:hover .mainPosterTile__img {
    transform: scale($enlargeSize);
  }

  &:before {
    content: '';
    z-index: 3;
    @include absoluteFill();
    @include insetBoxShadow(8px, $normalShadowColor);
  }

  &__name {
    margin-bottom: 0px;
    text-transform: uppercase;
    padding: 19px 30px;
    z-index: 4;
    color: $white;
    font-weight: $heavierFw;
    line-height: $textLH;
    @include absoluteTopLeft();
    @include textShadow($textShadowBlur, $lightShadowColor);
  }

  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: $noLH;
    z-index: 40;
    padding: 15px;

    img {
      width: 30px;
      height: 30px;
    }

    .hover {
      position: absolute;
      opacity: 0;
      top: 15px;
      left: 15px;
      transition: all 0.1s;
    }

    &:hover {
      .hover {
        opacity: 1;
      }
    }
  }

  &__slides {
    position: absolute;
    font-size: 20px;
    bottom: 14px;
    right: 57px;
    color: $secondaryWhite;
    font-weight: 900;
    @include textShadow($textShadowBlur, $lightShadowColor);
  }

  &__panorama {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 80px);
    z-index: 4;
    margin-top: -40px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: #{$tablet - 1px}) {
  .mainPosterTile {
    &__button {
      padding: 20px;
    }

    .hover {
      opacity: 0;
      top: 20px;
      left: 20px;
      transition: all 0.1s;
    }

    &__name {
      max-width: calc(100% - 30px);
    }

    &__slides {
      display: none;
    }
  }
}
