@import '../../styles/common';

.quest {
  &__tabs {
    padding-top: 17px;
    position: relative;
    left: -4px;
  }

  &__tabBtn {
    position: relative;
    padding: 10px 8px;
    width: 13px;
    box-sizing: content-box;
    cursor: pointer;
    display: inline-block;
    opacity: $darkOpacity;

    &--active,
    &:hover {
      opacity: $darkerOpacity;
    }
  }

  &__activeTab {
    border: 0.5px solid #ccc;
    border-bottom: none;
    position: absolute;
    height: 33px;
    width: 28px;
    background: $white;
    box-sizing: content-box;
    @include borderRadiusDetail(3px, 3px, 0, 0);

    &--first {
      left: 0;
    }
    &--second {
      left: 29px;
    }
    &--third {
      left: 58px;
    }
  }

  &__divider {
    top: 50px;
    position: absolute;
    width: calc(100% + 56px);
    left: -52px;
    border-top: 0.5px solid #ccc;
  }

  &__nextBtn {
    position: absolute;
    right: 9px;
    top: 73px;
    font-size: 12px;
    text-transform: uppercase;
    z-index: 10;
    color: rgba(0, 108, 161, 0.7);
    font-weight: 700;

    img {
      padding: 0;
      margin: -2px 0 0 4px;
      width: 14px;
      opacity: 0.7;
    }

    &:hover {
      color: rgba(0, 108, 161, 1);
      img {
        opacity: 1;
      }
    }
  }

  &__sections {
    position: relative;
  }
}

.section {
  &--type {
    .section__btn.active button {
      background: #007ec6;
    }
  }

  &--descriptive {
    .section__btn.active button {
      background: #00bb76;
    }
  }

  &__searchInput {
    padding: 10px 0 5px 5px;
    position: relative;
    width: 85%;
    margin: 9px 0 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border-bottom: 0.5px solid #ccc;
    width: 85%;
    font-weight: $lightFw;
    color: $darkShadowColor;
    outline: none;
    @include transition(all, $fastTrans);
  }

  &__filteredList {
    height: calc(100vh - 201px);
    overflow: hidden;
  }

  &__btn {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    display: block;
    border: none;
    margin: 8px 0;
    outline: none;
    text-transform: uppercase;
    font-weight: $normalFw;
    font-size: 12px;
    cursor: pointer;

    img {
      position: relative;
      height: 13px;
      display: none;
      top: -1px;
      margin-left: 3px;
      filter: grayscale(100%);
    }

    button {
      padding: 3px 5px !important;
      display: inline-block !important;
    }

    &.active {
      button {
        opacity: $darkerOpacity;
        color: $white;
      }

      img {
        display: inline-block;
        opacity: $darkOpacity;
      }
      &:hover {
        img:hover {
          opacity: $darkerOpacity;
        }
      }
    }

    &.star img {
      filter: none;
      display: inline-block;
    }
  }

  .filtered,
  .excluded,
  .stared {
    display: none;
  }

  .excluded .except,
  .stared .notable {
    font-weight: $sectionTitleFw;
    font-size: 12px;
    margin: 20px 0 8px 0;
    padding: 3px 5px;
    opacity: $darkOpacity;
    text-transform: uppercase;
  }

  &__title {
    text-transform: uppercase;
    font-size: 15px;
    margin: 24px 0 10px 5px;
    font-weight: $sectionTitleFw;
    cursor: default;
  }

  &__searchOpenBtn,
  &__searchCloseBtn {
    position: absolute;
    box-sizing: content-box;
    height: 12px;
    z-index: 10;
    top: 53px;
    opacity: $darkOpacity;
    cursor: pointer;
    @include transition(all, $fastTrans);

    &:hover {
      opacity: $darkerOpacity;
    }
  }

  &__searchOpenBtn {
    left: 5px;
  }
  &__searchCloseBtn {
    left: 174px;
  }
}
